body {
  font-size: 14.5px;
}

#root {
  background-image: url(../public/logo_company.png);
  background-repeat: no-repeat;
  background-position: center top 2%;
  background-size: 580px auto;
  position: relative;
  padding: 10% 25%;
  margin: 0;
}
.app.container {
  position: relative;
  float: none;
  width: 100%;
  max-width: 800px;
  min-height: 560px;
  border: 1px dashed #0000ff26;
  padding: 0;
}

.app.container .btn-success {
  color: #fff;
  background-color: #47b5af;
  border-color: #47b5af;
}

.app.container .alert-success {
  color: #0f5132;
  background-color: #48b8af78;
  border-color: #48b8af78;
}

.app.container a {
  color: #112e5c;
  cursor: pointer;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
